html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.babe {
  max-height: 80%;
  max-width: 80%;
  border: solid 1px #666;
}

.babe-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
